<section class="student_setting_bulkupload jumbotron">
    <div class="container-fluid">
        <div class="bg-white">


            <p class="text-danger  py-2 col-md-9">The pre-requisite to fill information in Academic Settings (Session, Branch, Class & Section) and Fee’s Setting (Fee items & Fee structure) in your SaaS account in order to generate the “Excel File” that include ID’s against respective fields.</p>
        </div>
        <div class="tile-body">
            <h4 class="custom-font text-strong">Instructions for filling the ‘Student Data Form’</h4>
            <p>Please download and fill the downloaded “Microsoft Excel File” according to the given instructions and give due attention to the fields 4, 11, 12, 35, 36 &amp; 37 listed in table below as they need to be filled by system generated ID’s populated
                in different sheets, included in the downloaded file.</p>
            <h4 class="custom-font text-strong">The following fields will be provided to you in the ‘student data form’:</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-responsive-sm table-striped">
                    <thead>
                        <tr>
                            <th>Sr.#</th>
                            <th>Fields</th>
                            <th>Sr.#</th>
                            <th>Fields</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Serial no.</td>
                            <td>20</td>
                            <td>Mother’s name</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Student registration number**</td>
                            <td>21</td>
                            <td>Mother’s email</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Roll number**</td>
                            <td>22</td>
                            <td>Mother’s CNIC</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Session id</td>
                            <td>23</td>
                            <td>Mother’s contact number</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Student First name</td>
                            <td>24</td>
                            <td>Mother’s occupation</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Student Last name</td>
                            <td>25</td>
                            <td>Mother’s residence</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Student gender**</td>
                            <td>26</td>
                            <td>Mother’s permanent address</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Student blood group</td>
                            <td>27</td>
                            <td>Guardian’s name</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>Student govt. id number</td>
                            <td>28</td>
                            <td>Guardian’s email</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Student DOB (date of birth)</td>
                            <td>29</td>
                            <td>Guardian’s CNIC</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>Student type id**</td>
                            <td>30</td>
                            <td>Guardian’s contact number</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Fee Structure id**</td>
                            <td>31</td>
                            <td>Guardian’s occupation</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>Father’s name</td>
                            <td>32</td>
                            <td>Guardian’s residence</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>Father’s email</td>
                            <td>33</td>
                            <td>Guardian’s permanent address</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>Father’s CNIC</td>
                            <td>34</td>
                            <td>Additional info</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>Father’s contact number</td>
                            <td>35</td>
                            <td>Branch id**</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>Father’s occupation</td>
                            <td>36</td>
                            <td>Class id**</td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td>Father’s residence</td>
                            <td>37</td>
                            <td>Section id</td>
                        </tr>
                        <tr>
                            <td>19</td>
                            <td>Father’s permanent address</td>
                            <td>38</td>
                            <td>Primary Contact**</td>
                        </tr>
                    </tbody>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <h4 class="custom-font text-strong">INSTRUCTIONS:</h4>
            <p>The pre-requisite to fill information in Academic Settings (Session, Branch, Class &amp; Section) and Fee’s Setting (Fee items &amp; Fee structure) in your SaaS account in order to generate the “Excel File” that include ID’s against respective
                fields. </p>
            <div>
                <ul class="mb-2">
                    <li>Student type id: (the corresponding <b> ID </b> for <b> ‘Admission Type name’ </b> in the <b> ‘Admission
              Type Data form’ </b> needs to be entered here)</li>
                    <li>Fee Structure** id: (the corresponding <b> ID </b> for <b> ‘Fee Structure name’ </b> in the <b> ‘Fee
              Structure Data form’ </b> needs to be entered here)</li>
                    <li>Session id: (the corresponding <b> ID </b> for <b> ‘Session Name’ from </b> the <b> ‘Session Data form’
            </b> needs to be entered here).</li>
                    <li>Branch** id: (the corresponding <b> ID </b> for <b> ‘Branch Name’ from </b> the <b> ‘Branch Data form’
            </b> needs to be entered here).</li>
                    <li>Class** id: (the corresponding <b> ID </b> for <b> ‘Class name’ from </b> the <b> ‘Class Data form’ </b> needs to be entered here).</li>
                    <li>Section id: (the corresponding <b> ID </b> for <b> ‘Section name’ from </b> the <b> ‘Section Data form’
            </b> needs to be entered here).</li>
                    <li>While entering data into "Gender" and "Primary Contact" columns, make sure you capitalize (upper case 'A') the first alphabet (e.g "<b>F</b>ather", "<b>M</b>other", "<b>G</b>uardian" and "<b>M</b>ale/<b>F</b>emale") .
                    </li>
                </ul>
            </div>
            <h4 class="custom-font text-strong">IMPORTANT:</h4>
            <div>
                <ul>
                    <li>Fields with ** (Asterick) are ‘mandatory fields’, hence, required for Software to enter student data.</li>
                    <li>If you will not enter the Roll no. and Registration no. then the system will generate Roll no. and Registration no. by itself.</li>
                    <li>Log in as an administrator if your SaaS account only allows people with administrator privileges to upload data.
                    </li>
                    <li>Use the following browsers; Windows Explorer, Google Chrome or Mozilla/Netscape's Download Manager, navigate to the “MW SMS MS Excel file” you downloaded. Double-click to open the file.</li>
                </ul>
            </div>
            <div class="bg-white pt-4 pb-4 px-2">
                <h4 class="text-black-50 font-weight-bold">Bulk Upload</h4>
                <div class="container-fluid">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="input-group-btn col-sm-9 ">
                                <div class="input-group">
                                    <input type="text" name="" value="" class="form-control" placeholder="" disabled="disabled">
                                    <button type="button" class="btn-light"><i class="fa fa-inbox text-black-50 mr-2"></i>File</button>
                                </div>
                                <p class="text-danger p">After Entering Student Data in the Excel sheet, save file as ‘CSV File’ , as system only accept ‘CSV file’ format.</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="justify-content-end row">
                                    <div class=" input-group-btn overflow-hidden position-relative">
                                        <button type="button" class="success-btn border-0 genrate_btn">
                      Update <i class="fa fa-arrow-right">
                      </i>
                    </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>