<section class=" container-fluid">
    <div class="  mt-3 shadow shadow bg-white">
        <ul class="nav nav-tabs py-2  general_tab" role="tablist">
            <li class="active">
                <a class="active" data-toggle="tab" href="#SESSION">SESSION</a></li>
            <li><a data-toggle="tab" href="#CLASS">CLASS</a></li>
            <li><a data-toggle="tab" href="#SUBJECT">SUBJECT</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="SESSION" class=" shadow tab-pane  active">
            <section class="Acdemics_settings bg-white mt-3 shadow pt-2">
                <div class="container-fluid py-3">
                    <button type="button" class="btn btn-primary btn-rounded-10  general_tab-button">
            <i class="fa fa-plus "> </i>Session
          </button>
                    <table class="w-100 table table-responsive-smtable-condensed  mt-3 ">

                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Session Yr</th>
                                <th>Branch Names</th>
                                <th>Start</th>
                                <th>End</th>
                                <th>Current Session</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><input type="text" class="form-control " name="Session_Yr"></td>
                                <td><input type="text" name="Branch_name" class=" form-control " name=""></td>
                                <td><input type="text" name="Start" class="form-control " name=""></td>

                                <td><input type="text" name="End" class="form-control " name=""></td>
                                <td><input type="text" name="Current Session" class="form-control " name=""></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>2020-2021</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>23/01/2020</td>
                                <td>31/03/2021</td>
                                <td> No</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>

                            </tr>
                            <tr>
                                <td>2</td>
                                <td>2020-2021</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>23/01/2020</td>
                                <td>31/03/2021</td>
                                <td> No</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>2020-2021</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>23/01/2020</td>
                                <td>31/03/2021</td>
                                <td> No</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
        <div id="CLASS" class="tab-pane fade">
            <section class="Acdemics_settings bg-white mt-3 shadow pt-2">
                <div class="container-fluid py-3">



                    <button type="button" class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10 btn-gradient general_tab-button">

            <i class="fa fa-plus "> </i>Class
          </button>


                    <table class="w-100 table table-responsive-sm table-condensed  mt-3">

                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Branch</th>
                                <th>Class Names</th>
                                <th>Sections(s)</th>

                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><input type="text" class="form-control " name="Branch"></td>
                                <td><input type="text" name="Class Names" class=" form-control " name=""></td>
                                <td><input type="text" name="Sections" class="form-control " name=""></td>


                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>VI Red</td>
                                <td>B</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>VI Red</td>
                                <td>B</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>

                            <tr>
                                <td>3</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>VI Red</td>
                                <td>B</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </nav>

                </div>
            </section>
        </div>
        <div id="SUBJECT" class="tab-pane fade">
            <section class="Acdemics_settings bg-white mt-3 shadow pt-2">
                <div class="container-fluid py-3">



                    <button type="button" class="btn btn-primary btn-rounded-10 btn-ef btn-ef-3 btn-ef-3b mb-10 btn-gradient general_tab-button">

            <i class="fa fa-plus "> </i>Subject
          </button>


                    <div class="row justify-content-center align-content-center" style=" height: 80vh;">

                        <div class="bg-success w-100 p-4 border-light mt-5">
                            <p class="text-center text-white text-justify">No Record Found</p>

                        </div>

                    </div>


                </div>
            </section>
        </div>
    </div>
</section>