<div class=" bg-grey">

    <div class=" mt-3  container-fluid">

        <ul class="bg-white border-top shadow general_tab mt-3 nav nav-tabs py-2" role="tablist">

            <li role="presentation">
                <a href="#schoolsystem" data-toggle="tab">SCHOOL SYSTEM</a>
            </li>

            <li role="presentation">
                <a role="tab" href="#school" data-toggle="tab" title="">SCHOOL</a>
            </li>

            <li role="presentation">
                <a role="tab" href="#branch" data-toggle="tab" title="">BRANCH</a>
            </li>

        </ul>
    </div>
    <div class="tab-content container-fluid">
        <div id="schoolsystem" class="tab-pane active">
            <section class="academics academics  ">
                <aside class="bg-white shadow container-fluid mt-3 pt-2 ">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-sm-12 py-3">
                                <div class="photo">
                                    <div class="bottom">
                                        <i class="fa fa-camera text-white"> </i>
                                    </div>
                                </div>
                            </div>
                            <form class="col-md-9  py-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group   ">
                                            <label class="" for="sample3">Name*</label>
                                            <input class="form-control " type="text" id="sample3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">School Type*</label>
                                            <select name="" class="form-control ">
                        <option value="">Select Branch</option>
                        <option value="">lynda.com</option>
                        <option value=""></option>
                      </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group w-100  ">
                                            <label class="" for="sample3">Founder's Name</label><input class="form-control " type="text" id="sample3">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group w-100  ">
                                            <label class="" for="sample3">Foundation Date</label>
                                            <input class="form-control " type="text" id="sample3">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </aside>
                <aside class="bg-white container-fluid mt-3 py-3 shadow">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group w-100  ">
                                    <label class="" for="sample3">Phone Number</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100  ">
                                    <label class="" for="sample3">Fax Number</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <aside class="bg-white container-fluid mt-3 pt-2 shadow">





                    <div class="col-md-12">
                        <div class="row py-3">


                            <div class="col-md-6">


                                <div class="form-group   ">
                                    <label class="" for="sample3">Address</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>



                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="" for="sample3">Area</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="" for="sample3">Country</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>



                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="" for="sample3">State/Province</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>




                            <div class="col-md-6">
                                <div class="form-group ">
                                    <label class="" for="sample3">City</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="form-group w-100  ">
                                    <label class="" for="sample3">Zip Code</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>


                        </div>

                    </div>
                </aside>
                <aside class="bg-white container-fluid mt-3 shadow pt-2">
                    <div class="col-md-12">
                        <div class="row py-3">


                            <div class="col-md-6">
                                <div class="form-group w-100  ">
                                    <label class="" for="sample3">Email</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>



                            <div class="col-md-6">
                                <div class="form-group w-100  ">
                                    <label class="" for="sample3">Website</label>
                                    <input class="form-control " type="text" id="sample3">
                                </div>

                            </div>





                        </div>
                    </div>
                </aside>

                <aside class="bg-white container-fluid mt-3 pt-2 shadow">

                    <div class="col-md-12">


                        <div class="row py-3">
                            <div class="form-group col-md-6">
                                <label for="" class="">Additional Information</label>
                                <textarea name="" row="4" class="form-control" placeholder="Addl Information">

</textarea>


                            </div>

                        </div>
                    </div>
                </aside>
            </section>
            <!-- Academics>school_system -->
        </div>
        <!-- tab school system -->


        <div id="school" class="tab-pane fade in ">



            <section class="school bg-white shadow mt-3 pt-2">
                <div class="container-fluid">



                    <button type="button" class="btn mt-4 general_tab-button btn-primary btn-rounded-10">
            <i class="fa fa-plus "> </i>School


          </button>


                    <table class="w-100 table table-responsive-sm table-condensed  mt-3">

                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Founder Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><input type="text" class="form-control " name=""></td>
                                <td><input type="text" class="form-control " name=""></td>
                                <td><input type="text" class="form-control " name=""></td>


                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>_</td>
                                <td>LGES</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>


                            </tr>

                            <tr>
                                <td>2</td>
                                <td>Garrison Academy Junior</td>
                                <td>_</td>
                                <td>LGES</td>
                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Garrison Academy Junior (Sarwar Shaheed Campus)</td>
                                <td>_</td>
                                <td>LGES</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Garrison Academy Boys</td>
                                <td>_</td>
                                <td>LGES</td>
                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </nav>

                </div>

            </section>
        </div>
        <!-- school tab -->

        <div id="branch" class="tab-pane fade in ">


            <section class="school bg-white shadow mt-3 pt-2">
                <div class="container-fluid">



                    <button type="button" class="btn general_tab-button mt-4">

            <i class="fa fa-plus "> </i>Branch
          </button>


                    <table class="w-100 table table-responsive-sm table-condensed  mt-3">

                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>City</th>
                                <th>Address</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td><input type="text" class="form-control " name=""></td>
                                <td><input type="text" class="form-control " name=""></td>
                                <td><input type="text" class="form-control " name=""></td>

                                <td><input type="text" class="form-control " name=""></td>
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>Garrison Academy Walton Cantt</td>
                                <td>Branch</td>
                                <td>Lahore</td>
                                <td> Walton Cantt</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Army Public School Garrison Junior</td>
                                <td>Branch</td>
                                <td>Lahore</td>
                                <td> Girja Chowk</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td> Gar Academy JNR Tufail Shaheed Campus</td>
                                <td>Branch</td>
                                <td>Lahore</td>
                                <td> Nishat Colony</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td> Gar Academy JNR Tufail Shaheed Campus</td>
                                <td>Branch</td>
                                <td>Lahore</td>
                                <td> Nishat Colony</td>

                                <td class="justify-content-center row">

                                    <a href="" class="circle-greensea">


                                        <i class=" fa fa-pencil icon-greensea">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                    <a href="" class="circle-warning">


                                        <i class=" fa fa-eye icon-warning">
                      <i class="hovercircle"></i>
                                        </i>

                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>


                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
        </div>
    </div>