<section class="student_form_setting bg-white">
    <div class="container-fluid py-4">


        <h4>Religion List</h4>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Sr.no.</th>
                    <th>Name</th>
                    <th>Selected</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <tr class="">
                        <td class="">
                            <span class="">1</span>
                        </td>
                        <td>
                            <span class="">Ahmadiyya</span>
                        </td>
                        <td>
                            <input type="radio" name="gender" value="true" disabled="" class="" aria-invalid="false">
                        </td>
                        <td>
                            <a href="" class="text-primary text-uppercase text-strong text-sm mr-10 ">Edit</a>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <span class="">2</span>
                        </td>
                        <td>
                            <span class="">Hinduism</span>
                        </td>
                        <td>
                            <input type="radio" name="gender" value="true" disabled="" class="" aria-invalid="false">
                        </td>
                        <td>
                            <a href="" class="text-primary text-uppercase text-strong text-sm mr-10 ">Edit</a>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <span class="">3</span>
                        </td>
                        <td>
                            <span class="">Islam</span>
                        </td>
                        <td>
                            <input type="radio" name="gender" value="true" disabled="" class="" aria-invalid="false">
                        </td>
                        <td>
                            <a href="" class="text-primary text-uppercase text-strong text-sm mr-10 ">Edit</a>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <span class="">4</span>
                        </td>
                        <td>
                            <span class="">Orthodox/Catholic</span>
                        </td>
                        <td>
                            <input type="radio" name="gender" value="true" disabled="" class="" aria-invalid="false">
                        </td>
                        <td>
                            <a href="" class="text-primary text-uppercase text-strong text-sm mr-10 ">Edit</a>
                        </td>
                    </tr>
                    <tr class="">
                        <td>
                            <span class="">5</span>
                        </td>
                        <td>
                            <span class="">Zoroastrian (Parsi)</span>
                        </td>
                        <td>
                            <input type="radio" name="gender" value="true" disabled="" class="" aria-invalid="false">
                        </td>
                        <td>
                            <a href="" class="text-primary text-uppercase text-strong text-sm mr-10 ">Edit</a>
                        </td>
                    </tr>
                </tbody>

        </table>
        <ul class="pagination float-right">
            <li class="page-item"><a class="page-link" href="#">«</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item "><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">»</a></li>
        </ul>
        <div class="border-info  cont">
            <h4>Manage Drop Downs </h4>
            <div class="">

                <ul class="list-unstyled ctgry ">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <li class="arrow col-sm-6"> <i class="fa fa-arrow-right">
                     </i> Category 1</li>
                                <div class="col-sm-6">
                                    <div class="justify-content-center row">
                                        <div class=" input-group-btn overflow-hidden position-relative">
                                            <button type="button" class="primary-btn border-0 genrate_btn">
                           Manage <i class="fa fa-arrow-right">
                           </i>
                         </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <li class="arrow col-sm-6"> <i class="fa fa-arrow-right">
                     </i> Category 2</li>
                                <div class="col-sm-6">
                                    <div class="justify-content-center row">
                                        <div class=" input-group-btn overflow-hidden position-relative">
                                            <button type="button" class="primary-btn border-0 genrate_btn">
                           Manage <i class="fa fa-arrow-right">
                           </i>
                         </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <li class="arrow col-sm-6"><i class="fa fa-arrow-right">
                     </i> Category 3</li>
                                <div class="col-sm-6">
                                    <div class="justify-content-center row">
                                        <div class=" input-group-btn overflow-hidden position-relative">
                                            <button type="button" class="primary-btn border-0 genrate_btn">
                           Manage <i class="fa fa-arrow-right">
                           </i>
                         </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <li class="arrow col-sm-6"><i class="fa fa-arrow-right">
                     </i> Category 4</li>
                                <div class="col-sm-6">
                                    <div class="justify-content-center row">
                                        <div class=" input-group-btn overflow-hidden position-relative">
                                            <button type="button" class="primary-btn border-0 genrate_btn">
                           Manage <i class="fa fa-arrow-right">
                           </i>
                         </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row p-1">
                                <li class="arrow col-sm-6"><i class="fa fa-arrow-right">
                     </i> School Type</li>
                                <div class="col-sm-6">
                                    <div class="justify-content-center row">
                                        <div class=" input-group-btn overflow-hidden position-relative">
                                            <button type="button" class="primary-btn border-0 genrate_btn">
                           Manage <i class="fa fa-arrow-right">
                           </i>
                         </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <!-- ctrgy -->
        <div class="customization py-2">

            <h4>Customization</h4>
            <div class="container-fluid">
                <div class="row">


                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-6">

                                <label for=""> First Category</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="checkboxsquare ">
                     <input type="checkbox">
                     <span class="checkmarksquare">
                     </span>
                   </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-6 ">

                                <label for=""> Second Category</label>
                            </div>
                            <div class="col-sm-6 ">
                                <label class="checkboxsquare ">
                     <input type="checkbox">
                     <span class="checkmarksquare">
                     </span>
                   </label>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-6">

                                <label for=""> Third Category</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="checkboxsquare ">
                     <input type="checkbox">
                     <span class="checkmarksquare">
                     </span>
                   </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-6">

                                <label for=""> Fourth Category</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="checkboxsquare ">
                     <input type="checkbox">
                     <span class="checkmarksquare">
                     </span>
                   </label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-4">

                        <div class="row">
                            <div class="col-sm-6">

                                <label for=""> Tribe Category</label>
                            </div>
                            <div class="col-sm-6">
                                <label class="checkboxsquare ">
                     <input type="checkbox">
                     <span class="checkmarksquare">
                     </span>
                   </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div>
                    <div class="justify-content-end row">
                        <div class=" input-group-btn overflow-hidden position-relative">
                            <button type="button" class="success-btn border-0 genrate_btn">
                   Update <i class="fa fa-arrow-right">
                   </i>
                 </button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="admission-form">
            <h4>Admission Form Settings</h4>
            <hr>

            <div class="container-fluid">


                <form class="form-setting" action="student_setting_form_setting_submit" method="get" accept-charset="utf-8">

                    <div class="row">

                        <div class="col-sm-6">
                            <label for="">Admission Number*</label>

                            <input type="text" name="" class="form-control" value="" placeholder="ADM-**-#####">

                        </div>
                        <div class="col-sm-6">
                            <label for="">Registration Number*</label>

                            <input type="text" name="" class="form-control" value="" placeholder="Reg-**-#####">

                        </div>
                        <div class="col-sm-6">
                            <label for="">Roll Number*</label>

                            <input type="text" name="" class="form-control" value="" placeholder="RN-#####">

                        </div>
                    </div>
                </form>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="col-sm-7 control-label"> <strong> Terms and Conditions </strong> </label>
                    </div>
                    <div class="col-sm-12">

                        <div class=" btn-toolbar">
                            <div class="btn-group"><button type="button" class="btn btn-default ">H1</button><button type="button" class="btn btn-default ">H2</button><button type="button" class="btn btn-default ">H3</button><button type="button" class="btn btn-default ">H4</button>
                                <button type="button" class="btn btn-default ">H5</button><button type="button" class="btn btn-default ">H6</button><button type="button" class="btn btn-default  active" name="p" title="Paragraph">P</button><button type="button"
                                    class="btn btn-default " name="pre" title="Preformatted text">pre</button>
                                <button type="button" class="btn btn-default " name="quote" title="Quote/unqoute selection or paragraph"><i class="fa fa-quote-right"></i></button>
                            </div>
                            <div class="btn-group"><button type="button" class="btn btn-default " name="bold" title="Bold"><i
                       class="fa fa-bold"></i></button><button type="button" class="btn btn-default " name="italics" title="Italic"><i class="fa fa-italic"></i></button><button type="button" class="btn btn-default " name="underline" title="Underline"><i class="fa fa-underline"></i></button>
                                <button type="button" class="btn btn-default " name="ul" title="Unordered List"><i class="fa fa-list-ul"></i></button><button type="button" class="btn btn-default " name="ol" title="Ordered List"><i class="fa fa-list-ol"></i></button>
                                <button type="button" class="btn btn-default " name="redo" title="Redo"><i class="fa fa-repeat"></i></button>
                                <button type="button" class="btn btn-default " name="undo" title="Undo"><i class="fa fa-undo"></i></button><button type="button" class="btn btn-default " name="clear" title="Clear formatting"><i class="fa fa-ban"></i></button></div>
                            <div class="btn-group"><button type="button" class="btn btn-default  active" name="justifyLeft" title="Align text left"><i class="fa fa-align-left"></i></button><button type="button" class="btn btn-default " name="justifyCenter" title="Center"><i
                       class="fa fa-align-center"></i></button><button type="button" class="btn btn-default " name="justifyRight" title="Align text right"><i class="fa fa-align-right"></i></button><button type="button" class="btn btn-default " name="indent"
                                    title="Increase indent"><i
                       class="fa fa-indent"></i></button><button type="button" class="btn btn-default " name="outdent" title="Decrease indent"><i class="fa fa-outdent"></i></button></div>
                            <div class="btn-group"><button type="button" class="btn btn-default" title="Toggle html">Toggle HTML</button><button type="button" class="btn btn-default " name="insertImage" title="Insert image"><i class="fa fa-picture-o"></i></button><button type="button"
                                    class="btn btn-default " name="insertLink" title="Insert / edit link"><i
                       class="fa fa-link"></i></button><button type="button" class="btn btn-default " name="insertVideo" title="Insert video"><i class="fa fa-youtube-play"></i></button></div>
                        </div>


                        <textarea class="form-control pb-5 pt-2 mt-2"></textarea>
                        <input type="hidden" style="display: none;" value="">
                        <br>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main container-fluid -->
</section>