<section class="academics">

    <div class=" ">
        <ul class="nav nav-tabs bg-white general_tab " role="tablist">
            <li role="presentation" Class="active">
                <a role="tab" href="#1" data-toggle="tab" title="#existing">EXISTING </a>
            </li>
            <li role="presentation">
                <a role="tab" href="#pending" data-toggle="tab" title="">PENDING</a>
            </li>
            <li role="presentation">
                <a role="tab" href="#rejected" data-toggle="tab" title="">REJECTED</a>
            </li>
            <li role="presentation">
                <a role="tab" href="#left" data-toggle="tab" title="">LEFT</a>
            </li>
            <li role="presentation">
                <a role="tab" href="#in_active" data-toggle="tab" title="">IN ACTIVE</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active " id="existing">
                <article class="bg-white mt-1 pt-4 student_student_list">
                    <div class="container-fluid">
                        <div class="student_list">
                            <div class="container-fluid">
                                <div class="row">
                                    <form action="student_student_list1_submit" class="w-100" method="get" accept-charset="utf-8">
                                        <div class="p-4">
                                            <div class="container-fluid">
                                                <div class="form-group">
                                                    <div class=" row ">
                                                        <div class="col-sm-6 col-md-2">
                                                            <select name="" class="form-control" required="">
                                <option value="" disabled="" selected="">Select Branch</option>
                                <option value="0">Garrison Academy Walton Cantt</option>
                                <option value="1">Garrison College for Girls</option>
                                <option value="2">Garrison College for Boys</option>
                                <option value="3">Gar Academy SNR Tufail Shaheed Campus</option>
                                <option value="4">Army Public School Garrison Junior</option>
                                <option value="5">ArmyPublicSchoolMehfoozShaheedGarrison</option>
                                <option value="6">Garrison Academy for Girls</option>
                                <option value="7">Army Public School Azam Garrison</option>
                                <option value="8">Gar Academy JNR Tufail Shaheed Campus</option>
                                <option value="9">Garrison Academy Chitral Line</option>
                                <option value="10">GarrisonAcademyJuniorSarwarShaheedCampus</option>
                                <option value="11">Garrison Boys High School</option>
                                <option value="12">Garrison Academy for Cambridge Studies</option>
                                <option value="13">Garrison Junior Academy</option>
                                <option value="14">Garrison Academy for Boys</option>
                                <option value="15">LGES</option>
                              </select>
                                                        </div>
                                                        <div class="col-sm-6 col-md-2">
                                                            <select name="" class="form-control">
                                <option value="" disabled="" selected="">Select Class
                                </option>
                              </select>
                                                        </div>
                                                        <div class="col-sm-6 col-md-2 ">
                                                            <select name="" class="form-control">
                                <option value="" disabled="" selected="">Select Section
                                </option>
                              </select>
                                                        </div>
                                                        <div class="col-sm-6 col-md-2 text-center">
                                                            <button type="btn btn-search"><i class="fa fa-search"></i></button>
                                                            <button type="btn btn-refresh"><i class="fa fa-refresh"></i></button>
                                                        </div>
                                                        <div class="col-sm-4 ">
                                                            <div class="2 p-0">
                                                                <div>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" name="">
                                                                        <button type="button" class="btn btn-success input-group-addon" style="padding: 0 9px;">
                                      <i class="fa fa-search"></i>
                                    </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <table class="table table-responsive-sm table-hover  table-bordered text-center table-striped">
                                        <thead>
                                            <tr class="text-uppercase">
                                                <th>Sr.No</th>
                                                <th>Reg No.</th>
                                                <th>Roll No.</th>
                                                <th>Class</th>
                                                <th>Section</th>
                                                <th>Name</th>
                                                <th>Father Name</th>
                                                <th>Fee Structure</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    1</td>
                                                <td>
                                                    0218457</td>
                                                <td>
                                                    0218457</td>
                                                <td>
                                                    III</td>
                                                <td>
                                                    G</td>
                                                <td>
                                                    MUHAMMAD ABDULLAH </td>
                                                <td>
                                                    MUHAMMAD NAVEED IQBAL</td>
                                                <td>
                                                    DPC-16</td>
                                                <td>
                                                    <a href="" class="icon-greensea"><span></span><i class="fa fa-pencil"></i></a>
                                                    <a href="" class="icon-warning"><span></span><i class="fa fa-eye"></i></a>
                                                    <a href="" class="icon-info"><span></span><i class="fa fa-dollar"></i></a>
                                                    <a href="" class="icon-danger"><span></span><i class="fa fa-money"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    2</td>
                                                <td>
                                                    0218456</td>
                                                <td>
                                                    0218456</td>
                                                <td>
                                                    I</td>
                                                <td>
                                                    H</td>
                                                <td>
                                                    MUHAMMAD HASSAN </td>
                                                <td>
                                                    MUHAMMAD NAVEED IQBAL</td>
                                                <td>
                                                    DPC-16</td>
                                                <td>
                                                    <a href=""><i class="fa fa-pencil"></i></a>
                                                    <a href=""><i class="fa fa-eye"></i></a>
                                                    <a href=""><i class="fa fa-dollar"></i></a>
                                                    <a href=""><i class="fa fa-money"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    3</td>
                                                <td>
                                                    0218455</td>
                                                <td>
                                                    0218455</td>
                                                <td>
                                                    V</td>
                                                <td>
                                                    G</td>
                                                <td>
                                                    MUHAMMAD ADAM </td>
                                                <td>
                                                    MUHAMMAD SHAHBAZ</td>
                                                <td>
                                                    A-1 (Retired)</td>
                                                <td>
                                                    <a href="" class=""><i class="fa fa-pencil"></i></a>
                                                    <a href=""><i class="fa fa-eye"></i></a>
                                                    <a href=""><i class="fa fa-dollar"></i></a>
                                                    <a href=""><i class="fa fa-money"></i></a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    4</td>
                                                <td>
                                                    0218452</td>
                                                <td>
                                                    0218452</td>
                                                <td>
                                                    I</td>
                                                <td>
                                                    G</td>
                                                <td>
                                                    HUMAYL KAMRAN KHATTAK </td>
                                                <td>
                                                    MAJ KAMRAN ISMAIL</td>
                                                <td>
                                                    A-1</td>
                                                <td>
                                                    <a href=""><i class="fa fa-pencil"></i></a>
                                                    <a href=""><i class="fa fa-eye"></i></a>
                                                    <a href=""><i class="fa fa-dollar"></i></a>
                                                    <a href=""><i class="fa fa-money"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div role="tabpanel" class="tab-pane  bg-white" id="pending">
                <table class="table table-responsive-sm  table-hover">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">Sr. no.</th>
                            <th class="font-weight-bold">Registration Number</th>
                            <th class="font-weight-bold">Roll Number</th>
                            <th class="font-weight-bold">Class</th>
                            <th class="font-weight-bold">Name</th>
                            <th class="font-weight-bold"> Action</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>011952697</td>
                            <td>011980</td>
                            <td>Class FA FSC Part 1</td>
                            <td>Shaista Munir</td>
                            <td>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane bg-white" id="rejected">
                <table class="table table-responsive-sm  table-hover">
                    <thead>
                        <tr>
                            <th class="font-weight-bold">Sr. no.</th>
                            <th class="font-weight-bold">Registration Number</th>
                            <th class="font-weight-bold">Roll Number</th>
                            <th class="font-weight-bold">Class</th>
                            <th class="font-weight-bold">Name</th>
                            <th class="font-weight-bold"> Action</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th><input class="form-control" type="text" name=""></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>011952697</td>
                            <td>011980</td>
                            <td>Class FA FSC Part 1</td>
                            <td>Shaista Munir</td>
                            <td>
                                <a href=""><i class="fa fa-pencil"></i></a>
                                <a href=""><i class="fa fa-eye"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane bg-white" id="left">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="text-sm-center">
                            <th>Sr. No.</th>
                            <th>Reg No.</th>
                            <th>Roll No.</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Name</th>
                            <th>Father Name</th>
                            <th>Fee Structure</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-sm-center">
                            <td>1 </td>
                            <td>062053255 </td>
                            <td>0653255 </td>
                            <td> IX Bio</td>
                            <td> C</td>
                            <td> Nailla Khan</td>
                            <td>Hav Rehmat Ullah </td>
                            <td> A2- 1M- Serving</td>
                            <td> <a href=""><i class="fa fa-eye"></i></a>
                                <a href=""><i class="fa fa-download"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane bg-white" id="in_active">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr class="text-sm-center">
                            <th>Sr. No.</th>
                            <th>Reg No.</th>
                            <th>Roll No.</th>
                            <th>Class</th>
                            <th>Section</th>
                            <th>Name</th>
                            <th>Father Name</th>
                            <th>Fee Structure</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="text-sm-center">
                            <td>1 </td>
                            <td>062053255 </td>
                            <td>0653255 </td>
                            <td> IX Bio</td>
                            <td> C</td>
                            <td> Nailla Khan</td>
                            <td>Hav Rehmat Ullah </td>
                            <td> A2- 1M- Serving</td>
                            <td> <a href=""><i class="fa fa-eye"></i></a>
                                <a href=""><i class="fa fa-plug"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- tab content -->
    </div>
</section>
