<app-header>
</app-header>
<div class="container-fluid">
    <div class="row ">
        <div>

            <app-leftbar></app-leftbar>
        </div>
        <!-- <app-dashboard class="col-md-10"></app-dashboard>-->
        <!-- <app-academics class="col-md-10"></app-academics> -->
        <!-- <app-setting class="col-md-10"></app-setting> -->
        <!-- <app-campus-settings class="col-md-10"></app-campus-settings> -->
        <!-- <app-student-admissions class="col-md-10 mt-4"></app-student-admissions> -->
        <!-- <app-list-student class="col-md-10 my-4"></app-list-student> -->
        <!-- <app-student-list ></app-student-list> -->

        <div class="w-100 rightbar">
            <div class="container-fluid">

                <div class="border-radius-0 border-0 shadow page-header mt-2 pr-0">

                    <div class=" bg-white">

                        <div class="container-fluid">
                            <div class="justify-content-between row">
                                <ol class=" breadcrumb bg-white p-0 m-0">
                                    <li class="breadcrumb-item bg-manual">
                                        <a> <i class="fa fa-home"></i> Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item"><a> LGES Sectt</a></li>
                                </ol>
                                <ol class=" breadcrumb bg-white p-0 m-0">
                                    <li class="all_branch btn px-0">
                                        <a class="bg-pink" href="" data-placement="bottom" title="data tooltip">All Branches</a>
                                    </li>
                                </ol>
                            </div>

                            <!-- <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Library</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Data</li>
                                </ol>
                            </nav> -->

                        </div>

                    </div>
                </div>
            </div>
            <router-outlet></router-outlet>
        </div>

        <!-- <app-student-transfer class="col-md-10"></app-student-transfer> -->
    </div>
</div>