<section class="py-4">
    <div class="container-fluid">
        <h3>Attendance</h3>
        <div class="attendance_area container-fluid bg-white py-3 ">
            <form action="">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="">Class</label>
                            <select class="form-control">
                <option selected disabled>Select Class</option>
                <option>VI</option>
                <option>VII</option>
                <option>IX</option>
                <option>X</option>
                <option>VIII Computer</option>
                <option>VIII Biology</option>
                <option>IX Arts</option>
                <option>IX Biology</option>
                <option>IX Computer</option>
                <option>X Arts </option>
                <option>X Computer</option>
                <option>X Biology</option>
                <option>viii</option>
                <option>2nd Year pre medi</option>
                <option>I.com 2nd Year</option>
                <option>ICS 2nd Year</option>
                <option>2nd Year Pre Eng</option>
                <option>1st year pre Medi</option>
                <option>1st year Pre Eng</option>
                <option>ICS 1st Year</option>
                <option>I.com</option>
                <option>VIII Arts</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="form-group">
                            <label for="">Section</label>
                            <select class="form-control">
                <option>Select Section</option>
                <option>A (2020-2021) Active</option>
                <option>B (2020-2021) Active</option>
                <option>C (2020-2021) Active</option>
                <option>D (2020-2021) Active</option>
                <option>E (2020-2021) Active</option>
                <option>F (2020-2021) Active</option>
                <option>G (2020-2021) Active</option>
                <option>l (2020-2021) Active</option>
                <option>H (2020-2021) Active</option>
              </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label for="">Attendance Date</label>
                        <input type="date" class="form-control">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label for="">Time:*</label>

                        <input type="time" class="form-control">
                    </div>


                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <label for="">
              <input type="checkbox" class="form-inline visible">
              Load Student for Manual Attendance </label>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <button class="btn btn-primary">Show Student</button>
                    </div>
                    <hr>
                    <div class="offset-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="row">
                            <div class="form-check form-inline">

                                <input id="t_status_present" type="checkbox" name="t_status" class="d-block form-control visible">
                                <label for="t_status_present" class="pl-2">Present</label>
                            </div>
                            <div class="form-check form-inline">

                                <input id="t_status_absent" type="checkbox" name="t_status" class="d-block form-control visible">
                                <label for="t_status_absent" class="pl-2">Absent</label>
                            </div>
                            <div class="form-check form-inline">

                                <input id="t_status_reset" type="checkbox" name="t_status" class="d-block form-control visible">
                                <label for="t_status_reset" class="pl-2">Reset</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary  my-4">Save</button>
                </div>
            </form>
        </div>
    </div>

</section>